/* 
   Reset
------------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,input,select
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
}

table,td,th {
	vertical-align:middle;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

a img {
	border: none;
}

:focus {
	outline: 0;
}

/* 
   General 
------------------------------------------------------------------- */
html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #FFF;
	color: #444;
	font: normal 75% sans-serif;
	line-height: 1.5;
}

/* 
   Typography 
------------------------------------------------------------------- */
	/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #444;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0.3em;
}

h4,h5,h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {
	margin: 0;
}

/* Links */
a:focus,a:hover {
	color: #039;
}

a {
	color: #456;
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	text-decoration: underline;
}

a.feed {
	background: url('img/icon-feed.gif') no-repeat left center;
	padding-left: 18px;
}

a.more {
	color: #579;
	font-weight: bold;
}

a.more:hover {
	color: #234;
}

/* Text elements */
p {
	margin-bottom: 1em;
}

abbr,acronym {
	border-bottom: 1px dotted #666;
}

address {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 1.5em;
}

del,blockquote {
	color: #666;
}

em,dfn,blockquote,address {
	font-style: italic;
}

strong,dfn {
	font-weight: bold;
}

sup,sub {
	line-height: 0;
}

pre {
	margin: 1.5em 0;
	white-space: pre;
}

pre,code,tt {
	font: 1em monospace;
	line-height: 1.5;
}

/* Lists */
li ul,li ol {
	margin-left: 1.5em;
}

ul,ol {
	
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: decimal;
	margin-left: 1.9em;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

/* Special lists */
ul.plain-list li,ul.nice-list li,ul.tabbed li {
	list-style: none;
	margin-top: 0;
}

ul.tabbed {
	display: inline;
	margin: 0;
}

ul.tabbed li {
	float: left;
}

ul.plain-list {
	margin: 0;
}

ul.nice-list {
	margin-left: 0;
}

ul.nice-list li {
	border-top: 1px solid #EEE;
	list-style: none;
	padding: 4px 0;
}

ul.nice-list li:first-child {
	border-top: none;
}

ul.nice-list li .right {
	color: #999;
}

/* Tables */
table {
	
	width: 100%;
}

th {
	font-weight: bold;
}

thead th {
	background: #C3D9FF;
}

th,td,caption {
	padding: 4px 10px 4px 5px;
}

tr.even td {
	background: #F2F6FA;
}

tfoot {
	font-style: italic;
}

caption {
	background: #EEE;
}

table.data-table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}

table.data-table th {
	background: #F0F0F0;
	border: 1px solid #DDD;
	color: #555;
}

table.data-table tr {
	border-bottom: 1px solid #DDD;
	
	cursor:pointer;
}
table.data-table .item:hover {
	background:#0F0;
}
table.data-table .itemselected {
	background:#F00;
}
table.data-table td,table th { /*padding: 10px;*/
	padding:4px;
}

table.data-table td {
	border: 1px solid #DDD;
}

table.data-table tr.even td {
	background: #FFFFFF;
	font-weight: bold
}

/* Misc classes */
.small {
	font-size: 0.9em;
}

.smaller {
	font-size: 0.8em;
}

.smallest {
	font-size: 0.7em;
}

.large {
	font-size: 1.15em;
}

.larger {
	font-size: 1.25em;
}

.largest {
	font-size: 1.35em;
}

.hidden {
	display: none;
}

.quiet,.quiet a {
	color: #999;
}

.loud,.loud a {
	color: #000;
}

.highlight,.highlight a {
	background: #ff0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-separator {
	padding: 0 5px;
}

.error,.notice,.success {
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.6em 0.8em;
}

.error {
	background: #FBE3E4;
	color: #8A1F11;
	border-color: #FBC2C4;
}

.error a {
	color: #8A1F11;
}

.notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

.notice a {
	color: #514721;
}

.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

.success a {
	color: #264409;
}

/* Labels */
.label {
	border-left-style: solid;
	border-left-width: 4px;
	margin-bottom: 0.2em;
	padding-left: 10px;
}

.label-blue {
	border-left-color: #55AADA;
}

.label-green {
	border-left-color: #B7D897;
}

.label-orange {
	border-left-color: #FA8F6F;
}

/* 
   Forms 
------------------------------------------------------------------- */
label {
	cursor: pointer;
	font-weight: bold;
}

label.checkbox,label.radio {
	font-weight: normal;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
}

textarea {
	overflow: auto;
}

input.text,textarea,select {
	background: #FCFCFC;
	border: 1px inset #AAA;
	margin: 0.5em 0;
	padding: 4px 5px;
}
input.short
{
	width:100px;	
}
input.text:focus,textarea:focus,select:focus {
	background: #FFFFF5;
}

input.button {
	background: #DDD;
	border: 1px outset #AAA;
	padding: 4px 5px;
	cursor: pointer;
}

input.button:active {
	border-style: inset;
}

/* Specific */
form .required {
	font-weight: bold;
}

.form-error {
	border-color: #F00;
}

.form-row {
	padding: 5px 0;
}

.form-row-submit {
	border-top: 1px solid #DDD;
	padding: 8px 0 10px 76px;
	margin-top: 10px;
}

.legend {
	background: #F0FAF0;
	border: 1px solid #D6DFD6;
	font-size: 1.5em;
	margin: 0;
	padding: 8px 14px;
}

.form-property,.form-value {
	float: left;
}

.form-property {
	padding-top: 8px;
	text-align: right;
	width: 60px;
}

.form-value {
	padding-left: 16px;
}

.form-error {
	border-color: #F00;
}

textarea {
	width: 450px;
	height: 200px
}

td textarea {
	width: 100px;
	height: 50px;
}

/* 
   Alignment 
------------------------------------------------------------------- */
	/* General */
.center,.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Images */
img.bordered,img.alignleft,img.alignright,img.aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}

img.alignleft,img.left {
	margin: 0 1.5em 1em 0;
}

img.alignright,img.right {
	margin: 0 0 1em 1.5em;
}

/* Floats */
.left,.alignleft {
	float: left;
}

.right,.alignright {
	float: right;
}

.clear,.clearer {
	clear: both;
}

.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* 
   Separators 
------------------------------------------------------------------- */
.content-separator,.archive-separator {
	background: #E5E5E5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;
}

.content-separator {
	margin: 32px 0;
}

.archive-separator {
	margin-bottom: 20px;
}

/* 
   Posts 
------------------------------------------------------------------- */
.post {
	margin-bottom: 20px;
}

.post img.left,.post img.right {
	margin-bottom: 0;
}

.post-date {
	color: #777;
	margin: 2px 0 10px;
}

.post-date a {
	color: #444;
}

.post-meta a {
	color: #345;
}

.post-meta a:hover {
	color: #001;
}

.post-body {
	font-size: 1.1em;
}

.post-body a {
	color: #039;
}

.post-body a:hover {
	color: #039;
}

.post-body img.left,.post-body img.right {
	margin-bottom: 1em;
}

/* Archives */
.archive-pagination {
	color: #777;
	padding: 10px 0;
}

.archive-pagination-top {
	border-bottom: 2px solid #DDD;
	margin-bottom: 24px;
}

.archive-pagination-bottom {
	border-top: 2px solid #DDD;
	margin-top: 24px;
}

.archive-post-date {
	background: #F5F5F5;
	border-bottom: 1px solid #C5C5C5;
	border-right: 1px solid #CFCFCF;
	float: left;
	margin-right: 12px;
	padding: 2px 0 5px;
	text-align: center;
	width: 46px;
}

.archive-post-title .post-date {
	margin: 0;
}

.archive-post-title {
	padding-top: 4px;
}

.archive-post-day {
	font: normal 1.6em Georgia, serif;
}

/* 
   Comments 
------------------------------------------------------------------- */
.comment-input-text textarea {
	width: 80%;
}

/* Comment list */
.comment-list-wrapper {
	background: #F6F6F6;
	margin: 10px 0 0;
	padding: 5px 12px 10px 7px;
}

.comment-list {
	margin: 0;
	padding: 0;
}

.comment-list li {
	list-style: none;
}

.comment-list ul {
	margin-bottom: 0;
}

.comment-profile-wrapper {
	text-align: center;
	width: 105px;
}

.comment-gravatar {
	margin-bottom: 3px;
}

.comment-content-wrapper {
	float: right;
	width: 481px;
}

.comment-parent,.comment-single {
	margin-top: 15px;
}

.comment-list ul.children,#comments #respond ul {
	border-left: 1px solid #CCC;
	margin: 0 0 0 130px;
}

.comment-list ul.children ul.children {
	margin-left: 15px;
}

.comment-list ul.children li {
	background: url('img/comment-reply.gif') no-repeat left top;
	margin: 0;
	padding: 10px 0 0 15px;
}

.comment-body {
	background: #FFF;
	border: 1px solid #DDD;
	padding: 10px 12px 0;
}

.comment-list ul.children .comment-body {
	background: #FCFCFC;
}

.comment-author {
	padding-top: 2px;
}

.comment-text p {
	margin-bottom: 0.8em;
}

.comment .post-date,.comment-author {
	font-size: 0.9em;
}

.comment .post-date .right a {
	color: #BBB;
}

.comment .post-date .right a:hover {
	color: #234;
}

.comment-arrow {
	background: url('img/comment-arrow.gif') no-repeat left top;
	display: block;
	float: left;
	height: 45px;
	margin: 3px 0 -45px -41px;
	position: absolute;
	width: 29px;
}

/* Respond */
#respond li {
	list-style: none;
}

#respond {
	background: #F6F6F6;
	padding: 10px 12px;
}

#respond ul {
	margin: 0;
}

#respond .legend {
	margin-bottom: 10px;
}

#comments #respond {
	padding: 0;
}

#comments #respond .legend {
	border-bottom: 0;
	margin-bottom: 0;
}

#comments #respond ul {
	background: url('img/comment-reply.gif') no-repeat left top;
	padding: 10px 0 0 15px;
}

#comments ul.children #respond ul {
	margin-left: 30px;
	padding: 0;
}

#comments #respond .comment-profile-wrapper,#comments #respond .comment-arrow
	{
	display: none;
}

#comments #respond .comment-body {
	background: #FFF;
}

#comments #respond .comment-content-wrapper {
	float: none;
	width: 100%;
}

/* 
   Layout 
------------------------------------------------------------------- */
	/* Common */
#top,#sub-nav {
	border-bottom: 1px solid #DDD;
}

/* Wrapper */
#site-wrapper {
	margin: 0 auto;
}

/* Header */
#header {
	width:100%;
	
	background:#fff;
	z-index:100;
}

/* Top */
#top {
	padding-bottom: 15px;
	left: 50%;
}

/* Logo */
#logo {
	border-left: 1px solid #DDD;
	margin: 0px 20px;
	padding-left: 5px;
}

#logo img {
	
}

#weblogo {
	border-right: 1px solid #DDD;
	margin: 0px 20px;
}

/* Splash */
#splash {
	padding-top: 32px;
}

/* Navigation */
.navigation a {
	color: #888;
	text-decoration: none;
}

.navigation a:hover {
	color: #002;
}

.navigation li.current-tab a {
	color: #222;
}

#main-nav li:first-child,#sub-nav li:first-child {
	margin-left: 0;
}

/* Main navigation */
#main-nav {
	padding-top: 54px;
}

#main-nav li {
	margin: 0 1.5em;
}

#main-nav a {
	font-size: 1.8em;
	line-height: 2em;
	padding-bottom: 2px;
}

#main-nav li.current-tab a {
	color: #333;
}

#main-nav a:hover {
	color: #002;
}

#main-nav li.current-tab a {
	border-bottom: 2px solid #94CC5F;
}

/* Subnav */
#sub-nav {
	border-bottom: 1px solid #DDD;
	padding: 12px 0;
}

#sub-nav a {
	font-size: 1.2em;
	text-decoration: none;
}

#sub-nav li {
	margin: 0 1em;
}

#sub-nav li.current-tab a {
	font-weight: bold;
}

/* Main */
.main {
	
}

.main#main-two-columns {
	
}

.main#main-two-columns-left {
	
}

.main#main-two-columns #main-content,.main#main-two-columns-left #main-content
	{
	
	border: 1px solid #F2F2F2;
	width:77%;
}

/* Sidebar */
#sidebar {
	width: 22%;
	border: 1px solid #F2F2F2
}

/* Columns */
.col2 {
	width: 46%;
}

.col3,.col3-mid {
	width: 31%;
}

.col3-mid {
	margin-left: 3%;
}

/* Sections */
.section {
	margin-bottom: 24px;
}

.section-title {
	background-color: #F6F6F6;
	border-top: 2px solid #DDD;
	color: #999999;
	font: bold 1.2em sans-serif;
	
	padding: 14px 10px 6px;
}

.padding1 {
	padding: 0px 10px 10px 10px;
}

#sidebar .section-title {
	margin-bottom: 8px;
}

/* Footer */
#footer {
	border-top: 1px solid #DDD;
	color: #777;
	padding: 16px 0 4px;
}

#footer-center {
	width: 500px;
	margin: 0 auto
}

#footer p {
	margin-bottom: 0.4em;
}

#footer .text-separator {
	padding: 0 3px;
	color: #BBB;
}

#footer a:hover {
	color: #000;
}

/* 
   Misc overriding classes
------------------------------------------------------------------- */
	/* Border */
.noborder {
	border: 0;
}

.notborder {
	border-top: 0;
}

.norborder {
	border-right: 0;
}

.nobborder {
	border-bottom: 0;
}

.nolborder {
	border-left: 0;
}

/* Margin */
.nomargin {
	margin: 0;
}

.notmargin {
	margin-top: 0;
}

.normargin {
	margin-right: 0;
}

.nobmargin {
	margin-bottom: 0;
}

.nolmargin {
	margin-left: 0;
}

/* Padding */
.nopadding {
	padding: 0;
}

.notpadding {
	padding-top: 0;
}

.norpadding {
	padding-right: 0;
}

.nobpadding {
	padding-bottom: 0;
}

.nolpadding {
	padding-left: 0;
}

/* 
   IE Fixes (zzz)
------------------------------------------------------------------- */
* html .navigation,* html #footer,* html #splash,* html .comment ul {
	height: 0.01%;
}

* html #footer-left {
	width: 500px;
}

.navigation,#splash,.comment ul {
	min-height: 0.01%;
}

#login {
	width: 300px;
	margin: 0 auto
}

ul#menu,ul#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul#menu a {
	display: block;
	text-decoration: none;
	padding: 0.2em;
	background: transparent;
}

ul#menu div.collape {
	cursor: pointer;
}

ul#menu li {
	margin-top: 1px;
}

ul#menu li div {
	background: #6699CC;
	color: #FFF;
	padding: 0.1em;
}

ul#menu li div a {
	color: #FFF;
}

ul#menu li div a {
	color: #FFF;
}

ul#menu li div:hover {
	background: #000;
	color: #FFF;
}

ul#menu li ul li div {
	background: #CCCCCC;
	color: #000;
	padding-left: 20px;
}

ul#menu li ul li a {
	color: #FFF;
}

ul#menu li ul li ul li div {
	background: #F2F2F2;
	color: #000;
	padding-left: 30px;
}

ul#menu li ul li ul li div a {
	color: #000;
}

ul#menu li ul li div:hover {
	background: #aaa;
	border-left: 5px #000 solid;
	padding-left: 15px;
}

.tabs-selected a {
	background-color: #CCCCCC !important
}

a.button {
	background: #DDD;
	border: 1px outset #AAA;
	padding: 5px 5px;
	color: #000000 !important;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;
}

a.button.selected {
	background: #FFFFFF;
	border: 1px inset #AAA;
	padding: 5px 5px;
	color: #000000 !important;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.loadingimage {
	background-image: url(../image/loadingimage.gif) !important;
	background-position: center center;
	background-repeat: no-repeat;
	width: 200px;
	height: 100px;
}

.number {
	text-align: right;
}

#ben-search {
	margin: 10px;
	padding: 5px;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
}

textarea.ben-grid {
	width: 200px;
	height: 50px;
}

.selectrow {
	background: #F00 !important;
}

ul.autocomplete {
	list-style-type: none;
}
.ui-autocomplete-loading {
	background: white url(../image/ui-anim_basic_16x16.gif) right center no-repeat !important;
}
.qlk_group
{
	border:thin solid #999;
	border-radius:10px;
	margin:15px 5px;
}
.qlk_group .title
{
	font-weight:bold;
	padding:0 10px;	
}
.qlk_icon
{
	width:100px;
	height:80px;
	border:thin solid #999;
	border-radius:10px;
	text-align:center;
	vertical-align:middle;
	margin:10px;
	font-weight:bold;
	
}
.qlk_icon table
{
	height:100%;	
}
.qlk_icon td
{
	padding:5px;
	font-weight:bold;	
}
.qlk_icon:hover
{
	background:#666;
	color:#FF0;
	cursor:pointer;
}
#popup-content
{
	
}
#popup-selete
{
	position:absolute ;
	background:#fff;
	width:250px;
	height:400px;
	overflow:auto;
	display:none;
	border:thin solid #999;
}
.selectitem
{
	padding:10px;
	width:209px;
}
.filelist
{
	width:145px;	
	height:150px;
}


.folderlist
{
	width:150px;	
	height:150px;
	background:url(../image/folder.png) no-repeat center center;
}
.filename
{
	margin-top: 123px;
    position: absolute;
    text-align: center;
    width: 150px;
}
.folderlist table
{
	height:100%;
	
}
.folderlist td
{
	text-align:center;
	border:none !important;	
}
.folderlist tr
{
	border:none !important;	
}
.needimport
{
	background:#F00;	
}
#productlist
{
	
	
}
#productselect
{
	width:145px;
}
.product-item
{
	width: 140px;
	height: 200px;
	border: #999 thin solid;
	border-radius: 10px;
	margin: 4px;
	cursor: pointer;
	color: #C60;
}
}
.product-price
{
	position:absolute;
	margin-top:100px;
	background:#fff;
	border:2px solid #666;
	border-radius:5px;
	display:none;
	width:270px;
}
.price-item:hover
{
	background:#666;
	cursor:pointer;
}
.product-item:hover
{
	box-shadow: 5px 5px 5px #333333;
	color:#F00;
}
.order-new
{
	background:#FF0 !important;
}
.order-wait
{
	background:#0FF !important;
}
.order-pending
{
	background:#F0F !important;
}
.order-confirmed
{
	background:#0F0 !important;
}
.order-waitpayment
{
	background:#00F !important;
}
.order-completed
{
	background:#FFF !important;
}
.order-cancel
{
	background:#666 !important;
}
#popup-content
{
	
}
#popup-selete
{
	position:absolute ;
	background:#fff;
	width:250px;
	height:400px;
	overflow:auto;
	display:none;
	border:thin solid #999;
}

#popup-seletetion .filelist
{
	height:auto;
	padding:5px;
}
.listview
{
	margin:10px 0;	
}
.subprice
{
	background:#CCC;	
}
.media-child
{
	background:#CCC;	
}
.folderitem
{
	padding:2px;	
}
.selectfolder
{
	background:#09F;
}
.selectfile
{
	background-color:#F00 !important;	
}
.progress
{
	width:100%;	
	
}
.bar {
    height: 18px;
    background: green;
	text-align:center;
}